<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>accordion</title>
    <link rel="stylesheet" href="accordion.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<div id="accbox">
    <div class="accbox">
        <h1>Items</h1>
        <ul>
            <li v-for="item in view_items">{{ item }}</li>
        </ul>

        <!-- when read more button is un-pushed -->
        <div v-show="!is_read_more">
            <label for="read-more-label">read more</label>
            <input type="checkbox" v-model="is_read_more" id="read-more-label">
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="accordion.js"></script>
</body>
</html>